/* Setting variables for easy color management */
:root {
  --background: #efefef;
  --gradient: linear-gradient(10deg, #00ff00, #0000ff, #ff00ff);
  --navBlue: #0000ff;
  --footer: #4287f5;
}

/* Reseting the default behavior of most browsers */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  z-index: 999;
  width: 100%;
  margin-bottom: 2rem;
  /* border: 2px solid red; */
}

.nav_section {
  background: var(--navBlue);
  padding: 0 0 20px 0;
  ;
}

.nav_title {
  font-family: 'Ubuntu', sans-serif;
  margin: 20px auto;
  text-align: center;
  color: var(--background);
  /* border: 2px solid red; */
}

.nav-toggle-label span,
.nav-toggle-label::before,
.nav-toggle-label::after {
  display: block;
  background: var(--background);
  height: 2px;
  width: 2em;
  border-radius: 2px;
  margin: 0 auto;
  /* border: 2px solid red; */
}

.nav-toggle-label::before,
.nav-toggle-label::after {
  content: '';
  position: relative;
}

.nav-toggle-label::before {
  bottom: 10px;
}

.nav-toggle-label::after {
  top: 10px;
}

nav {
  font-size: .9em;
  color: var(--background);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  display: none;
}

.nav-toggle:checked~nav {
  display: block;

}

.nav-toggle {
  display: none;
}

#nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.sub_nav_list {
  display: none;
}

.nav_list_item {
  list-style: none;
  margin-top: 1rem;
  ;
}

.nav_list_link {
  color: var(--background);
  text-decoration: none;
  font-size: 1.2rem;
}

.nav_carrot {
  margin-left: 5px;
}

.active {
  border-bottom: 2px solid;
}

.footer {
  padding: 10px;
  /* display: flex; */
  background: var(--footer);
  text-align: center;
}

/* ############################################### */
/* #************Full Screen Stylesheet***********# */
/* ############################################### */
@media screen and (min-width: 992px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .nav_section {
    background: var(--background);
    padding: 0 0 20px 0;
    color: var(--navBlue);
  }

  .nav_title {
    display: none;
    /* font-family: 'Ubuntu', sans-serif; */
  }

  .nav-toggle-label {
    display: none;
  }

  nav {
    display: flex;
    padding: 10px;
    /* border: 2px solid red; */
  }

  .nav_list_link {
    /* font-size: 1rem; */
    color: var(--navBlue);
    margin: 0 20px;
  }

  #nav {
    flex-direction: row;
    justify-content: space-between;
  }

